.main-homepage{

    width: 90vw;
    height: auto;
    border: 1px solid #000;
    padding: 0 50px;
    margin: 0px auto;
    display: flex;  
}

.left-homepage{
    flex: 1;
}

.right-homepage{
    flex: 1;
}

.img1{
    width: 806px;
    height: 520px;
}