/*  ============
    Primeira DIV
    ============
*/

.first-div{
    width: 90vw;
    height: 756px;
    border: 1px solid #000;
    padding: 0 3.125rem;
    margin: 0px auto;
    display: flex;  
}

.left-first-div{
    flex: 1;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.div-section{
    display: flex;
    gap: 20px;
}

.left-first-div > h1{
    font-weight: 900;
    font-size: 64px;
    line-height: 105%;
}

.left-first-div > p{
    font-size: 20px;
    max-width: 370px;
}

.right-first-div{
    flex: 1;
}

.img1{
    width: 53.125rem;
    height: 32.5rem;
    padding-top: 10px;
}
a{
    font-weight: 900;
    font-size: 64px;
    line-height: 105%;
}

/*
    ===========
    SEGUNDA DIV
    ===========
*/

.second-div{
    width: 90vw;
    height: 756px;
    border: 1px solid #000;
    padding: 0 50px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.skill-cards{
    display: flex;
    justify-content: center;
    gap: 1.875rem;
}

.skill-card-icon{
    font-size: 50px;
    padding-left: 35px;
    padding-top: 10px;
}

.bottom-second-div{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 90px;
    font-size: 32px;
    align-items: center;
}

.section-second-div{
    display: flex;
    gap: 15px;
}


/* 
    ============
    TERCEIRA DIV
    ============
*/

.thirty-div{
    width: 90vw;
    height: 490px;
    border: 1px solid #000;
    padding: 0 50px;
    margin: 0px auto;
    display: flex;
}

.left-thirty-div{
    padding-top: 75px;
    flex: 1;
}

.img2{
    width: 490px;
    height: 380px;
}

.right-thirty-div{
    padding-top: 75px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



